name: Fast DDS Gen Ubuntu CI (nightly)

on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *'

jobs:
  nightly-ubuntu-ci-master:
    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 'openjdk-17-jdk'
          - 'openjdk-21-jdk'
    uses: eProsima/Fast-DDS-Gen/.github/workflows/reusable-ubuntu-ci.yml@master
    with:
      os-version: 'ubuntu-22.04'
      java-version: ${{ matrix.java-version }}
      label: 'nightly-ubuntu-ci-master'
      fastddsgen-branch: 'master'
      fastdds-branch: 'master'
      fastcdr-branch: 'master'
      fastdds-python-branch: 'main'
      discovery-server-branch: 'master'
      run-build: true
      run-tests: true
      use-ccache: false

  nightly-ubuntu-ci-4_2_x-fast-3_4_x:
      strategy:
        fail-fast: false
        matrix:
          java-version:
            - 'openjdk-11-jdk'
            - 'openjdk-17-jdk'
      uses: eProsima/Fast-DDS-Gen/.github/workflows/reusable-ubuntu-ci.yml@4.2.x
      with:
        os-version: 'ubuntu-22.04'
        java-version: ${{ matrix.java-version }}
        label: 'nightly-ubuntu-ci-4.2.x-3.4.x'
        fastddsgen-branch: '4.2.x'
        fastdds-branch: '3.4.x'
        fastcdr-branch: '2.3.x'
        fastdds-python-branch: '2.4.x'
        discovery-server-branch: 'v2.0.0'
        run-build: true
        run-tests: true
        use-ccache: false

  nightly-ubuntu-ci-4_0_x-fast-3_2_x:
      strategy:
        fail-fast: false
        matrix:
          java-version:
            - 'openjdk-11-jdk'
            - 'openjdk-17-jdk'
      uses: eProsima/Fast-DDS-Gen/.github/workflows/reusable-ubuntu-ci.yml@4.0.x
      with:
        os-version: 'ubuntu-22.04'
        java-version: ${{ matrix.java-version }}
        label: 'nightly-ubuntu-ci-4.0.x-3.2.x'
        fastddsgen-branch: '4.0.x'
        fastdds-branch: '3.2.x'
        fastcdr-branch: '2.3.x'
        fastdds-python-branch: '2.2.x'
        discovery-server-branch: 'v2.0.0'
        run-build: true
        run-tests: true
        use-ccache: false

  nightly-ubuntu-ci-3_3_x:
    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 'openjdk-11-jdk'
          - 'openjdk-17-jdk'
        fastcdr-branch:
          - '1.1.x'
          - '2.x'
    uses: eProsima/Fast-DDS-Gen/.github/workflows/reusable-ubuntu-ci.yml@3.3.x
    with:
      os-version: 'ubuntu-22.04'
      java-version: ${{ matrix.java-version }}
      label: 'nightly-ubuntu-ci-3.3.x'
      fastddsgen-branch: '3.3.x'
      fastdds-branch: '2.14.x'
      fastcdr-branch: ${{ matrix.fastcdr-branch }}
      fastdds-python-branch: '1.4.x'
      discovery-server-branch: 'v1.2.2'
      run-build: true
      run-tests: true
      use-ccache: false
